<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<header class="u-black u-clearfix u-header u-header" id="sec-e995">
	<div class="u-clearfix u-sheet u-sheet-1">
		<nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
			<div class="menu-collapse u-custom-font u-font-playfair-display"
				style="font-size: 1.25rem; letter-spacing: 0px; text-transform: uppercase; font-weight: 400;">
				<a
					class="u-border-2 u-border-active-palette-1-base u-border-hover-white u-border-no-left u-border-no-right u-border-no-top u-button-style u-custom-active-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-grey-90"
					href="#"> <svg>
						<use xmlns:xlink="http://www.w3.org/1999/xlink"
							xlink:href="#menu-hamburger"></use></svg> <svg version="1.1"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink">
						<defs>
						<symbol id="menu-hamburger" viewBox="0 0 16 16"
							style="width: 16px; height: 16px;">
						<rect y="1" width="16" height="2"></rect>
						<rect y="7" width="16" height="2"></rect>
						<rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
				</a>
			</div>
			<div class="u-custom-menu u-nav-container">
				<ul
					class="u-custom-font u-font-playfair-display u-nav u-spacing-30 u-unstyled u-nav-1">
					<li class="u-nav-item"><a
						class="u-border-2 u-border-active-palette-1-base u-border-hover-white u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-white u-text-white"
						href="/" style="padding: 10px 0px;">Home</a></li>
					<li sec:authorize="!isAuthenticated()" class="u-nav-item"><a
						class="u-border-2 u-border-active-palette-1-base u-border-hover-white u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-white u-text-white"
						href="/register" style="padding: 10px 0px;">Register</a></li>
					<li sec:authorize="!isAuthenticated()" class="u-nav-item"><a
						class="u-border-2 u-border-active-palette-1-base u-border-hover-white u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-white u-text-white"
						href="/login" style="padding: 10px 0px;">Login</a></li>
					<li sec:authorize="hasAuthority('PATIENT')" class="u-nav-item"><a
						class="u-border-2 u-border-active-palette-1-base u-border-hover-white u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-white u-text-white"
						href="/patient/dashboard" style="padding: 10px 0px;">Dashboard-P</a>
					</li>
					<li sec:authorize="hasAuthority('DOCTOR')" class="u-nav-item"><a
						class="u-border-2 u-border-active-palette-1-base u-border-hover-white u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-white u-text-white"
						href="/doctor/dashboard" style="padding: 10px 0px;">Dashboard-D</a>
					</li>
					<li sec:authorize="isAuthenticated()" class="u-nav-item"><a
						class="u-border-2 u-border-active-palette-1-base u-border-hover-white u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-white u-text-white"
						href="/logout" style="padding: 10px 0px;">Logout</a></li>
				</ul>
			</div>
			<div class="u-custom-menu u-nav-container-collapse">
				<div
					class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
					<div class="u-sidenav-overflow">
						<div class="u-menu-close"></div>
						<ul
							class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
							<li class="u-nav-item"><a class="u-button-style u-nav-link"
								href="/" style="padding: 10px 0px;">Home</a></li>
							<li sec:authorize="!isAuthenticated()" class="u-nav-item"><a class="u-button-style u-nav-link"
								href="/register" style="padding: 10px 0px;">Register</a></li>
							<li sec:authorize="!isAuthenticated()" class="u-nav-item"><a class="u-button-style u-nav-link"
								href="/login" style="padding: 10px 0px;">Login</a></li>
							<li sec:authorize="hasAuthority('PATIENT')" class="u-nav-item"><a
								class="u-button-style u-nav-link" href="/patient/dashboard"
								style="padding: 10px 0px;">Dashboard-P</a></li>
							<li sec:authorize="hasAuthority('DOCTOR')" class="u-nav-item"><a
								class="u-button-style u-nav-link" href="/doctor/dashboard"
								style="padding: 10px 0px;">Dashboard-D</a></li>
							<li sec:authorize="isAuthenticated()" class="u-nav-item"><a
								class="u-button-style u-nav-link" href="/logout"
								style="padding: 10px 0px;">Logout</a></li>
						</ul>
					</div>
				</div>
				<div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
			</div>
		</nav>
		<h1 class="u-text u-text-palette-1-light-3 u-text-1">Virtual
			Hospital</h1>
	</div>
</header>