.message{
	text-align: center;
	justify-content:center;
	align-content: center;
}

.u-section-1 .u-sheet-1 {
  min-height: 703px;
}

.u-section-1 .u-text-1 {
  width: 304px;
  margin: 61px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 175px 0;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 65px auto 60px;
}

.u-section-1 .u-label-1 {
  font-family: "Playfair Display";
}

.u-section-1 .u-input-1 {
  font-family: "Playfair Display";
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-family: "Playfair Display";
}

.u-section-1 .u-input-2 {
  font-family: "Playfair Display";
}

.u-section-1 .u-label-3 {
  font-family: "Playfair Display";
}

.u-section-1 .u-input-3 {
  font-family: "Playfair Display";
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-family: "Playfair Display";
}

.u-section-1 .u-input-4 {
  font-family: "Playfair Display";
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 75px;
    margin-right: 75px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}