.u-section-1 .u-sheet-1 {
  min-height: 648px;
}

.u-section-1 .u-text-1 {
  width: 431px;
  margin: 52px auto 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 408px;
  margin: 59px 0 60px;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  font-family: "Playfair Display";
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  font-family: "Playfair Display";
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 1px;
}

.u-section-1 .u-table-1 {
  margin-top: 0;
  padding:15px;
}

.u-block-b876-42 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-6 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-7 {
  font-weight: 700;
}


.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-block-b876-134 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-29 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-30 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-31 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-32 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-33 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-34 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-35 {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom:10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom:10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

}