.u-section-1 .u-sheet-1 {
  min-height: 560px;
}

.u-section-1 .u-text-1 {
  width: 226px;
  margin: 63px auto 0;
}

.u-section-1 .u-table-1 {
  margin: 69px 0 65px;
}

.u-block-0358-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-entity-1 {
    min-height: 100px;
  }
}